body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 20px;
	line-height: 1.6;
	background-color: white;
	font-size: 1.2em;
	align-items: center;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.4em;
}

.top-line {
	border: 1px solid #ffa5a5;
}

p {
	margin-bottom: 15px;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
}

a {
	color: rgb(2, 66, 66);
}

a:hover {
	text-decoration: underline;
	color: #ffa5a5;
}

.footer {
	text-align: center;
	padding: 1%;
}

.footer p {
	font-size: 0.8em;
}

.material-icons {
	font-size: 2em;
}

/* for timeline */
/* credit to https://devncoffee.com/responsive-timeline-html-css/ */
/* (PART A) WRAPPER */
.hOut {
	overflow-x: auto;
}

.hIn {
	display: flex;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 3px dotted #ffa5a5;
	min-width: fit-content;
	width: 10%;
}

/* (PART B) EVENTS */
.hIn .event {
	color: #222222;
	background: #cbc3e3;
	min-width: 200px;
	max-width: 400px;
	padding: 10px;
	margin: 10px;
	border-radius: 100px;
	position: relative;
}

.hIn .eDate {
	font-family: monospace;
	font-size: 16px;
	text-align: center;
	margin-top: 10%;
}
.hIn .eTxt {
	font-size: 15px;
	text-align: center;
}

/* (PART C) TIMELINE SHARED */
.hIn .event::before,
.hIn .event::after {
	position: absolute;
	content: '';
}

/* (PART D) TIMELINE CIRCLE */
.hIn .event::before {
	bottom: -30px;
	left: 50%;
	content: '';
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #ffa5a5;
}

/* (PART E) TIMELINE "T-CONNECTOR" */
.hIn .event::after {
	bottom: -20px;
	left: calc(50% + 6px);
	width: 1px;
	height: 20px;
	border-left: 3px dotted #ffa5a5;
}

/*portfolio section*/

#portfolio {
	padding: 5px;
}

.portfolio-section {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 10%;
}

.portfolio-link {
	text-align: center;
	font-weight: bold;
	padding-bottom: 1%;
}

.portfolio-section h2 {
	font-size: 1.4em;
	padding-top: 2%;
}

.portfolio-container {
	display: flex;
	justify-content: space-around;
	padding-bottom: 5%;
}

.portfolio-card {
	width: 20em;
	height: 10em;
	font-size: 1em;
	padding: 1%;
	margin: 2%;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 1px #ffa5a5;
	background-color: rgb(215, 224, 189);
}

.portfolio-card:hover {
	box-shadow: 1px 1px 10px #ffa5a5;
}

.p-image {
	width: 1800px;
	/* height: 800px; */
}

@media only screen and (max-width: 1300px) {
	.portfolio-container {
		display: flex;
		flex-wrap: wrap;
	}
}
